---
layout: page
---

<!-- Main Content -->
<div class="container">
    <div class="row">

		<% if (site.categories.length) { %>
			<div class="archive">
				<% var p_category = null; %>
                <% var iter_cnt = 0; %>
				<% page.posts.each(post=>{ %>
				    <% p_category = post.categories; //선택된 카테고리 %>
                    <% if(iter_cnt>=1) { return false; } %>
                    <% iter_cnt += 1 %>

                    <% site.categories.sort('name').each(function(p_item){  %>
                        <% if(p_category.data[0]._id != p_item._id || (p_category.data[1]!=undefined && p_category.data[1].parent != p_item._id)){ %>
                            <% return true; //continue  %>
                        <% } %>
                        <% var head_cnt = 0; //헤더는 한번만 찍기위해 %>
                        <% var head_2d_cnt = 0; //헤더는 한번만 찍기위해 %>
                        <% site.categories.sort('name').each(function(c_item){  %>
                            <% if(c_item.parent!=undefined && p_item._id == c_item.parent){ %>
                                <% if (head_cnt==0) { %>
                                    <h3 style="margin:10px 0 10px;" class="archive-ul" data-toggle="collapse" id="<%= p_item.name %>" data-target="#modal-<%= p_item.name %>"> <%= p_item.name %> </h3>
                                    <% head_cnt += 1; %>
                                <% } %>
                                <% site.posts.sort('date', -1).forEach(function(it){ %>
                                    <% if (it.categories.length == 2 && it.categories.data[1]._id == c_item._id && c_item._id == p_category.data[1]._id){ %>
                                        <% if (head_2d_cnt==0) { %>
                                            <h4 style="margin:10px 0 10px;" class="archive-ul show" data-toggle="collapse" id="<%= c_item.name %>" data-target="#modal-<%= c_item.name %>"> &nbsp;&nbsp;<%= c_item.name %> <b class="caret"></b></h4>
                                            <ul style="margin-bottom: 10px;" id="modal-<%= c_item.name %>" class="collapse in">
                                                <% site.posts.sort('date', -1).forEach(function(it){ %>
                                                    <% if (it.categories.length == 2 && it.categories.data[1]._id == c_item._id && it.categories.data[1]._id == p_category.data[1]._id){ %>
                                                    <li class="listing-item">
                                                        <%= it.date.format('MM-DD') %>
                                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                        <a href="<%= config.root %><%= it.path %>" <% if (it.description) { %> title="<%= it.description %>" <% } %>><%= it.title %></a>
                                                    </li>
                                                    <% } %>
                                                <% }); %>
                                            </ul>
                                            <% ++head_2d_cnt; %>
                                        <% } %>
                                        <% return false; //break %>
                                    <% } %>
                                <% }); %>

                            <% } %>
                        <% }); // site.categories.sort('name').each(function(p_item) %>
    			    <% }); // site.categories.sort('name').each(function(item)%>

                    <% site.categories.sort('name').each(function(p_item){ %>
                        <% if(p_category.data[0]._id != p_item._id || (p_category.data[1]!=undefined && p_category.data[1].parent != p_item._id)){ %>
                            <% return true; //continue %>
                        <% } %>
                        <% site.categories.sort('name').each(function(c_item){ %>
                            <% var head_2d_cnt = 0; //헤더는 한번만 찍기위해 %>
                            <% if(c_item.parent!=undefined && p_item._id == c_item.parent){ %>
                                <% site.posts.sort('date', -1).forEach(function(it){ %>
                                    <% if (it.categories.length == 2 && it.categories.data[1]._id == c_item._id && c_item._id != p_category.data[1]._id){ %>
                                        <% if (head_2d_cnt==0) { %>
                                            <h4 style="margin:10px 0 10px;" class="archive-ul show " data-toggle="collapse" id="<%= c_item.name %>" data-target="#modal-<%= c_item.name %>"> &nbsp;&nbsp;<%= c_item.name %> <b class="caret"></b></h4>
                                            <ul style="margin-bottom: 10px;" id="modal-<%= c_item.name %>" class="collapse in ">
                                                <% site.posts.sort('date', -1).forEach(function(it){ %>
                                                    <% if (it.categories.length == 2 && it.categories.data[1]._id == c_item._id && it.categories.data[1]._id != p_category.data[1]._id){ %>
                                                    <li class="listing-item">
                                                        <%= it.date.format('MM-DD') %>
                                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                        <a href="<%= config.root %><%= it.path %>" <% if (it.description) { %> title="<%= it.description %>" <% } %>><%= it.title %></a>
                                                    </li>
                                                    <% } %>
                                                <% }); %>
                                            </ul>
                                            <% ++head_2d_cnt; %>
                                        <% } %>
                                        <% return false; //false-break %>
                                    <% } %>
                                <% }); %>
                            <% } %>
                        <% }); // site.categories.sort('name').each(function(p_item) %>
    			    <% }); // site.categories.sort('name').each(function(item)%>

                    <% site.categories.sort('name').each(function(p_item){ %>
                        <% if(p_category.data[0]._id != p_item._id || (p_category.data[1]!=undefined && p_category.data[1].parent != p_item._id)){ %>
                            <% return true; //continue, 선택된 카테고리가 아닐때 건너 뜀 %>
                        <% } %>
                        <% var head_cnt = 0; //헤더는 한번만 찍기위해 %>
                        <% site.categories.sort('name').each(function(c_item){  %>
                            <% if(c_item.parent==undefined && p_item._id == c_item._id){ %>
                                <% site.posts.sort('date', -1).forEach(function(it){ %>
                                    <% if (it.categories.length == 1 && it.categories.data[0]._id == c_item._id){ %>
                                        <% if (head_cnt==0) { %>
                                            <h3 style="margin:10px 0 10px;" class="archive-ul show" data-toggle="collapse" id="<%= c_item.name %>" data-target="#modal-<%= c_item.name %>"> <%= c_item.name %> </h3>
                                            <% head_cnt += 1; %>
                                        <% } %>
                                    <% } %>
                                    <% return false; //break %>
                                <% }); %>
                                <ul style="margin-bottom: 10px;" id="modal-<%= c_item.name %>" class="collapse in">
                                    <% site.posts.sort('date', -1).forEach(function(it){ %>
                                        <% if (it.categories.length == 1 && it.categories.data[0]._id == c_item._id){ %>
                                        <li class="listing-item">
                                            <%= it.date.format('MM-DD') %>
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                            <a href="<%= config.root %><%= it.path %>" <% if (it.description) { %> title="<%= it.description %>" <% } %>><%= it.title %></a>
                                        </li>
                                        <% } %>
                                    <% }); %>
                                </ul>
                            <% } %>
                        <% }); // site.categories.sort('name').each(function(p_item) %>
    			    <% }); // site.categories.sort('name').each(function(item)%>
    			    <hr align="left" style="border: solid 1px gray; width: 55%; margin:30px 0 0px">

					<!-- 2. 나머지 카테고리를 하위에 표시 -->
                    <% site.categories.sort('name').each(function(p_item){ %>
                        <% var prn_hr_cnt = 0; %>
                        <% if(p_category.data[0]._id == p_item._id || (p_category.data[1]!=undefined && p_category.data[1].parent == p_item._id)){ %>
                            <% return true; //continue, 선택된 카테고리는 위에서 찍었으므로 제외 %>
                        <% } %>
                        <% var head_cnt = 0; //헤더는 한번만 찍기위해 %>
                        <% site.categories.sort('name').each(function(c_item){ %>
                            <% if(c_item.parent!=undefined && p_item._id == c_item.parent){ %>
                                <% if (head_cnt==0) { %>
                                    <h3 class="archive-ul" data-toggle="collapse" id="<%= p_item.name %>" data-target="#modal-<%= p_item.name %>"> <%= p_item.name %> </h3>
                                    <% head_cnt += 1; %>
                                <% } %>
                                <h4 style="margin:10px 0 10px;" class="archive-ul show" data-toggle="collapse" id="<%= c_item.name %>" data-target="#modal-<%= c_item.name %>"> &nbsp;&nbsp;<%= c_item.name %> <b class="caret"></b></h4>
                                <ul style="margin-bottom: 10px;" id="modal-<%= c_item.name %>" class="collapse in">
                                    <% site.posts.sort('date', -1).forEach(function(it){ %>
                                        <% if (it.categories.length==2 && it.categories.data[1]._id==c_item._id){ %>
                                        <li class="listing-item">
                                            <%= it.date.format('MM-DD') %>
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                            <a href="<%= config.root %><%= it.path %>" <% if (it.description) { %> title="<%= it.description %>" <% } %>><%= it.title %></a>
                                        </li>
                                        <% } %>
                                        <% ++prn_hr_cnt; %>
                                    <% }); %>
                                </ul>
                            <% } else{ //if(item.parent == p_item.parent || item.parent == p_item._id) %>
                                <% if(c_item.parent==undefined && p_item._id == c_item._id){ %>
                                    <% site.posts.sort('date', -1).forEach(function(it){ %>
                                        <% if (it.categories.length == 1 && it.categories.data[0]._id == c_item._id){ %>
                                            <% if (head_cnt==0) { %>
                                                <h3 class="archive-ul show" data-toggle="collapse" id="<%= c_item.name %>" data-target="#modal-<%= c_item.name %>"> <%= c_item.name %> </h3>
                                                <% head_cnt += 1; %>
                                            <% } %>
                                        <% } %>
                                        <% return false; //break %>
                                    <% }); %>
                                    <ul style="margin-bottom: 10px;" id="modal-<%= c_item.name %>" class="collapse in">
                                        <% site.posts.sort('date', -1).forEach(function(it){ %>
                                            <% if (it.categories.length == 1 && it.categories.data[0]._id == c_item._id){ %>
                                            <li class="listing-item">
                                                <%= it.date.format('MM-DD') %>
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                <a href="<%= config.root %><%= it.path %>" <% if (it.description) { %> title="<%= it.description %>" <% } %>><%= it.title %></a>
                                            </li>
                                            <% } %>
                                            <% ++prn_hr_cnt; %>
                                        <% }); %>
                                    </ul>
                                <% } %>
                            <% }%>
                        <% }); // site.categories.sort('name').each(function(p_item) %>
                        <% if(prn_hr_cnt>=1){ %>
                            <hr align="left" style="width: 55%; margin:30px 0 0px">
                        <% } %>
                    <% }); //site.categories.sort('name').each(function(item) %>

				<% }) //page.posts.each %>
			</div> <!-- archive -->
		<% } //site.categories.length %>

    </div>
</div>
